<!DOCTYPE html>
html
    head
        title 管理员入口
        meta(charset="utf-8")
        link(href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")
        style
            | .btn {margin-right: 20px;margin-top:10px;}
    body
        h2 管理员入口
        a.btn.btn-default(href="/admin/__users__" target="_blank") 用户管理
        a.btn.btn-success(href="/admin/__orders__" target="_blank") 订单管理
        a.btn.btn-info(href="/admin/__comments__" target="_blank") 用户反馈
        a.btn.btn-warning(href="/admin/__agents__" target="_blank") 代理商管理