<!DOCTYPE html>
html
    head
        title 填写订单
        style(href="/static/style/order.css")
    body
        img(src="/static/img/logo.jpg")
        div #{agentId}
    script(src="/static/js/order.js")