article {
    background: transparent;
    overflow: hidden;
    padding: 15px;
    border: 1px solid #1f4687;
    border-width: 1px 0;
    margin-top: -1px;
}

article h3 {
    font-size: 14px;
    margin-bottom: 5px;
    color: #fff;
}

article h2 {
    font-size: 16px;
    margin-bottom: 5px;
    color: #fff;
}

.form .item {
    clear: both;
    margin-bottom: 8px;
    padding-right: 10px;
}

.form .item label {
    width: 7em;
    float: left;
    text-align: right;
    line-height: 35px;
}

.form .item .bfc {
    overflow: hidden;
}

.form .item .bfc input,
.form .item .bfc select {
    width: 100%;
    height: 35px;
    padding: 5px;
    border-radius: 2px;
}

.form textarea {
    height: 200px;
    display: block;
    clear: both;
    width: 100%;
}

.form .item .send-msg {
    float: right;
    margin-left: 5px;
    margin: 8px 0 0 5px;
}

.form .submit {
    height: 40px;
    line-height: 30px;
    width: 200px;
    margin: auto;
    display: block;
}

.form .item.error input,
.form .item.error select {
    border: 1px solid red;
}

.form .user-tel {
    line-height: 35px;
}

.form .item .msg {
    color: red;
    display: none;;
}

.form .item.error .msg {
    display: block;
}

.order-list ul li {
    line-height: 1.6em;
}

.order-wrapper {
    height: 192px;
    overflow: hidden;
}

.links {
    margin: 10px 0;
    text-align: center;
}

.links .go-comment {
    border: 1px solid #fd8f04;
    border-radius: 2px;
    color: #fd8f04;
    height: 35px;
    width: 7em;
    text-align: center;
    line-height: 35px;
    margin-left: 20px;
    display: inline-block;
    text-decoration: none;
}

.links .go-comment:first-child {
    margin-left: 0;
}

.orders li {
    line-height: 30px;
    padding: 0 10px;
    border-bottom: 1px solid #eee;
}

.orders li .comment {
    float: right;
}

body {
    background: url(../img/bg.jpg) no-repeat bottom;
    background-size: 100% auto;
    background-color: #0063a4;
    color: rgba(255,255,255,.9);
    padding-bottom: 110vw;
}

.addr {
    margin: auto;
    margin-bottom: 10px;
    margin-top: 20px;
    text-align: right;
    width: calc(100% - 30px);
}

.ft .copy-right {
    width: calc(100% - 30px);   
    background: transparent;
    text-align: right;
}